style.css
body {
  background: #0f172a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.inputs {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 180px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.card span {
  display: block;
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.destaque {
  background: #16a34a;
}
